@model IEnumerable<Event>

<body>
    <!-- Page Header Start -->
    <div class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2>Upcoming Events</h2>
                </div>
                <div class="col-12">
                    <a href="">Home</a>
                    <a href="">Events</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Page Header End -->


    <!-- Event Start -->
    <div class="event">
        <div class="container">
            <div class="section-header text-center">
                <p>Upcoming Events</p>
                <h2>Be ready for our upcoming charity events</h2>
            </div>
            <div class="row">
                @foreach (var item in Model)
                {
                    <div class="col-lg-6">
                        <div class="event-item">
                            <img src="@item.Image" alt="Image">
                            <div class="event-content">
                                <div class="event-meta">
                                    <p><i class="fa fa-calendar-alt"></i>@item.EventDate.ToString("yyyy-MM-dd")</p>
                                    <p><i class="far fa-clock"></i>@item.EventDate.ToString("HH:mm tt")</p>
                                    <p><i class="fa fa-map-marker-alt"></i>@item.Location</p>
                                </div>
                                <div class="event-text">
                                    <h3>@item.EventName</h3>
                                    <p>
                                        @item.EventDescription
                                    </p>
                                    <a class="btn btn-custom" asp-controller="Application" asp-action="Application">Join Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <!-- Event End -->
</body>